<li id="<%= geotweet.id %>" class="list-group-item">
  <div class="geotweet-photo"><%= image_tag geotweet.user_profile_image_url, alt: 'avatar' %></div>
  <div class="geotweet-content">
    <div class="geotweet-content-row">
      <%= link_to geotweet.user_name, "http://twitter.com/#{geotweet.user_screen_name}", target: "blank" %>
      <span class="screenname">@<%= geotweet.user_screen_name %></span>
      <span class="geotweet-time"><%= time_diff(geotweet) %></span>
    </div>
    <div class="geotweet-content-row"><%= geotweet.status %></div>
  </div>
</li>